%h1 Sign Up!

.form-horizontal
  = form_for @user do |f|
    = render 'shared/error_messages', :object => f.object
    = render 'fields', :f => f

    = f.submit :value => "Sign Up!", :class => "btn btn-primary"
  
